@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force the app to fill the Adobe Panel completely */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent double scrollbars */
}